* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mobileMsg {
  display: none;
}

body {
  display: flex;
  justify-content: center;
}

#header {
  font-size: 4rem;
  text-align: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3rem;
  align-items: center;
  width: 100%;
  height: 100%;
}

.btnContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem;
  gap: 2rem;
}

.continentBtn {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  background: peachpuff;
  cursor: pointer;
}

.chartContainer {
  width: 90%;
  height: 100%;
  /* visibility: hidden; */
}

select,
option {
  width: 100px;
  height: 2.5rem;
  font-size: 1.3rem;
  background: #333;
  cursor: pointer;
  color: #fff;
  border-radius: 8px;
}

select:hover {
  background: #555;
}

option {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

select:focus > option:checked {
  background: #000;
}

.current {
  background-color: rgb(23, 104, 86);
  color: #fff;
}

.singleCountry {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  gap: 4rem;
  border-radius: 5px;
  visibility: hidden;
}

.singleCountry div {
  background: peachpuff;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 5px;
  height: 4.5rem;
}

@media (max-width: 1000px) {
  html {
    font-size: 7px;
  }

  .mainContainer {
    gap: 2rem;
  }

  .singleCountry div {
    height: 4rem;
  }
}

@media (max-width: 600px) {
  .mainContainer {
    display: none;
  }

  body {
    background: #444;
  }

  .mobileMsg {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 7rem;
    display: flex;
    padding: 10rem 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    line-height: 15rem;
  }
}
