* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  height: 100vh;
}

#header {
  margin-top: 4rem;
  font-size: 4rem;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5rem;
  align-items: center;
  width: 100%;
  height: 70%;
}

.btnContainer {
  display: flex;
  gap: 2rem;
}

.continentBtn {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  background: peachpuff;
  cursor: pointer;
}

.chartContainer {
  width: 50%;
  height: 100%;
}
