* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
}

#header {
  font-size: 4rem;
  text-align: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3rem;
  align-items: center;
  width: 100%;
  height: 90%;
}

.btnContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem;
  gap: 2rem;
}

.continentBtn {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  background: peachpuff;
  cursor: pointer;
}

.chartContainer {
  width: 90%;
  height: 100%;
  /* visibility: hidden; */
}

.current {
  background-color: aqua;
}
